body {background: #198eff; font-size: 20px;}
header, footer {min-height: 100px; padding: 20px; color: #fff; }
a {font-weight: bold;}
footer a { color: #fff; }
.padding-top-30 {padding-top: 30px;}
.container {background: #fff; padding-top: 30px; padding-bottom: 30px; }
ul {list-style-type: none;}